@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img/resurs/background.jpg') repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7%;
    padding: 70px 20px;
    display: flex;
    justify-content: space-between;
    background: rgba(219, 219, 219, 0.61); 
    user-select: none;
    align-items: center;
    z-index: 99;
    cursor: pointer;
}
.Logo{
    position: relative;
    top: -10px;
    color: rgb(0, 0, 0);
    font-size: 32px;
}
.navigation a{
    position: relative;
    top: -7px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    top: 24px;
    width: 100%;
    height: 3px;
    background: #000000;
    border-radius: 3px;
    transform: scaleX(0);
    transform-origin: right;
}
.navigation a:hover::after{
    transform: scaleX(1);
    transition: transform .5s;
    transform-origin: left;
}
.navigation .Login {
    width: 100px;
    height: 50px;
    position: relative;
    top: -7px;
    background: transparent;
    border: 3px solid #000000;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation .Login:hover{
    background: #000000;
    color: rgb(255, 255, 255);
}
h3{
    background: #000000;
    position: absolute;
}
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 3px solid rgba(0, 0, 0 , .5);
    border-radius: 7px 25px 7px 25px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0 , .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    transition: height .2s ease;
}
.wrapper.active{
    height: 520px;
}
.wrapper .form-block{
    width: 100%;
    padding: 40px;
}
.wrapper .form-block.login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-block.login{
    transform: translateX(-400px);
}
.wrapper .form-block.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-block.register{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper .close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #000;
    font-size: 25px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px; 
    cursor: pointer;
    z-index: 1;
}
.form-block h2{
    font-size: 20px;
    text-align: center;

}
.input-block{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000000;
    margin: 30px 0;
}
.input-block label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

}
.input-block input:focus~label,
.input-block input:valid~label {
    top: -5px;
}
.input-block input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 0 35px 0 5px;

}
.input-block .icon{
    position: absolute;
    right: 8px;
    font-size: 20px;
    color: #000000;
    line-height: 57px;
}
.remember-me{
    font-size: 12px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;  
}
.remember-me label input{
    accent-color: #000;
    margin-right: 3px;
}
.remember-me a{
    color: #000;
    text-decoration: none;
}
.remember-me a :hover{
    color: #000;
    text-decoration: none;
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #000;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}
.login-register{
    font-size: 12px;
    color: #000;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: #000;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a :hover{
    text-decoration: underline;

}
#TextKursi{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 25%;
    left: -6%;
    width: 450px;
    height: 70px;
    border-radius: 0 50px 10px 0;
    font-size: 50px;
    color: rgb(48, 48, 48);
    user-select: none;
    background: rgb(48, 48, 48); ;
    border: 3px solid rgba(0, 0, 0 , .9);
    backdrop-filter: blur(20px);
    transform: translateX(100px);
}
#backgroundText1{
    position: absolute;
    top: 17%;
    left: 10%;
    font-size: 32px;
    color: aliceblue;
    user-select: none;
}
#polosa1{
    position: absolute;
    right: 17%;
    top: 300px;
    width: 1580px;
    height: 70px;
    border-radius: 0 100px 10px 0;
    background-color: rgb(48, 48, 48);
    user-select: none;
}
#polosa2{
    position: absolute;
    top: 1100px;
    width: 1551px;
    height: 70px;
    border-radius: 10px 0 0 100px;
    background-color: rgb(48, 48, 48);
    user-select: none;
    
}
#katalog{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 33.1%;
    background-color: rgb(123, 104, 238);
    width: 80%;
    height: 5%;
    margin-left: 10%;
    border-radius: 0 0 20px 20px;
}
#kursi{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img/resurs/background.jpg') repeat;
    background-size: cover;
    background-position: center;
}
#logo{
    margin-top: 5px;  
}
#backgroundText{
    
    color: rgb(0, 0, 0);
    font-size: 65px;
    left: 7%;
    top: 4%;
}
#opisText{
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 25px;
    width: 55%;
    height: 12%;
    left: 20%;
    top: 97%;
    margin: 15px;
    padding: 15px;
    background: rgba(219, 219, 219, 0.61);  
    border-radius: 20px;
}
#background1{
    border-radius: 20px 0 0 20px;
}
#uslugi{
    display: flex;
    justify-content: space-between;
    margin-top: 16%;
    margin-left: -5%;
    width: 80%;
    height: 40%;
}
#uslugi1{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-left: -5%;
    width: 80%;
    height: 40%;
}
#TextUslug1{
    margin-top: 15%;
    font-size: 20px;
    left: 2%;
}
#TextUslug10{
    position: absolute;
    padding-top: 230px;
    left: -5px;
    color: rgb(255, 157, 45); 
}
#TextUslug2{
    margin-top: 15%;
    font-size: 20px;
    left: 2%;
}
#TextUslug20{
    position: absolute;
    padding-top: 230px;
    left: -5px;
    color: rgb(45, 178, 255); 
}
#TextUslug3{
    margin-top: 15%;
    font-size: 20px;
    left: 2%;
}
#TextUslug30{
    position: absolute;
    padding-top: 230px;
    left: -5px;
    color: rgb(227, 230, 69); 
}
#TextUslug4{
    margin-top: 15%;
    font-size: 20px;
    left: 2%;
}
#TextUslug40{
    position: absolute;
    padding-top: 230px;
    left: -5px;
    color: rgb(79, 111, 250); 
}
.photoUslug{
    border-radius: 40px;
}
#backgroundLOGO{
    position: absolute;
    top: 23%;
    left: 68%;
}
#backgroundLOGO1{
    position: absolute;
    top: 75%;
    left: 68%;
}
#blockUslug1{
    width: 300px;
    height: 500px;
    background-color: rgb(240, 240, 240);
    border-radius: 40px;
    margin-top: 20%;
    margin-left: 2%;
    margin-right: 2%;
    border: 3px 3px 0px 0px solid rgb(255, 157, 45);
    box-shadow: 0 0 40px 40px rgb(240, 240, 240) inset, 0 0 0 0 rgb(240, 240, 240);
    transition: all 150ms ease-in-out;
    cursor: pointer;
}
#blockUslug2{
    width: 300px;
    height: 500px;
    background-color: rgb(240, 240, 240);
    border-radius: 40px;
    margin-top: 20%;
    margin-left: 2%;
    margin-right: 2%;
    border: 3px 3px 0px 0px solid rgb(45, 178, 255);     
    box-shadow: 0 0 40px 40px rgb(240, 240, 240) inset, 0 0 0 0 rgb(240, 240, 240);
    transition: all 150ms ease-in-out;
    cursor: pointer;
}
#blockUslug3{
    width: 300px;
    height: 500px;
    background-color: rgb(240, 240, 240);
    border-radius: 40px;
    margin-top: 20%;
    margin-left: 2%;
    margin-right: 2%;
    border: 3px 3px 0px 0px solid rgb(251, 255, 45);   
    box-shadow: 0 0 40px 40px rgb(240, 240, 240) inset, 0 0 0 0 rgb(240, 240, 240);
    transition: all 150ms ease-in-out;
    cursor: pointer;
}
#blockUslug4{
    width: 300px;
    height: 500px;
    background-color: rgb(240, 240, 240);
    border-radius: 40px;
    margin-top: 20%;
    margin-left: 2%;
    margin-right: 2%;
    border: 3px 3px 0px 0px solid  rgb(79, 111, 250);   
    box-shadow: 0 0 40px 40px rgb(240, 240, 240) inset, 0 0 0 0 rgb(240, 240, 240);
    transition: all 150ms ease-in-out;
    cursor: pointer;
}
#blockUslug1:hover{
    box-shadow: 0 0 10px 0 rgb(255, 157, 45) inset, 0 0 10px 4px rgb(255, 157, 45);
}
#blockUslug2:hover{
    box-shadow: 0 0 10px 0 rgb(45, 178, 255) inset, 0 0 10px 4px rgb(45, 178, 255);
}
#blockUslug3:hover{
    box-shadow: 0 0 10px 0 rgb(251, 255, 45) inset, 0 0 10px 4px rgb(251, 255, 45);
}
#blockUslug4:hover{
    box-shadow: 0 0 10px 0 rgb(79, 111, 250) inset, 0 0 10px 4px rgb(79, 111, 250);
}
#html,#css,#php{
    position: absolute;
    text-align: center;
    font-size: 32px;
    color:rgb(0, 0, 0);
    margin: 2% 0% 0 1.2%;
}
#js{
    position: absolute;
    text-align: center;
    font-size: 32px;
    color:rgb(0, 0, 0);
    margin: 2% 0% 0 1.2%; 
}
.PriceList{
    position: absolute;
    transition: opacity 0.3s linear, visibility 0.3s linear;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 200%;
}